---
version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    commit-message:
      prefix: dependencies
    labels:
      - "dependencies"
    # Ignore major updates, only allow patch and minor updates
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
