SERVICE_KEY = "*.DROP_OFF.IO.@{emissary.node.scheme}://@{emissary.node.name}:@{emissary.node.port}/DropOffPlaceV2$9990"

SYNCHRONIZED_PROCESS = "false"
FAILURE_TERMINATES_CHAIN = "false"

UNIX_ROOT = "@{TMPDIR}/data/OutputData"

OUTPUT_DATA = "@{UNIX_ROOT}"

# Output sinks can be named with NAME:CLASS
OUTPUT_SINK = "JSON:emissary.output.sink.JsonSink"

# Deny specific views/output for the configured sinks. Accept everything unless denied.
#DENYLIST =

IMPORT_FILE = "emissary.output.DropOffUtil.cfg"