# Test to set up a coordinate place that needs an upper and a lower
URL = "@{emissary.node.scheme}://@{emissary.node.name}:@{emissary.node.port}"
SERVICE_KEY = "TEST.TESTCOORDINATE.COORDINATE.@{URL}/CoordinationPlace$3050"

SERVICE_COORDINATION = "ToLowerPlace"
SERVICE_COORDINATION = "ToUpperPlace"

OUTPUT_FORM = "XYZZY"