<html>
  <body>
     Click on the following link to see the results.<p>
     Keep in mind, it may take some time to process.<p>
     <a href="{{link}}">{{uuid}}</a>
     
     {{#error}}
     <h4>Errors</h4>
     <span>{{error-message}}</span>
     {{/error}}
  </body>
</html>