<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Emissary - Submit A Document</title>
  </head>

  <body>
    <h1>Emissary - Submit a Document</h1>

    <form name="f" method="POST" action="Document.action" enctype="multipart/form-data">
      <!-- this hidden field is used to differentiate between a external POST which is likely -->
      <!-- a computer, and one that comes from this page which is likely a person -->
      <input type="hidden" name="source" value="form" />

      Initial Form: <input type="text" name="initial_form" value="UNKNOWN"/> <i>(csv ok)</i><br />
      Document: <input type="file" name="document"/><br />
      <br />
      <input type="submit" value="Submit"/>
    </form>

    <p>A successful submission will return a token that can be
    used as a GET on this url in <i>token=...</i></p>
    
  </body>
</html>
