<!doctype html>
<html lang="en">
  <head>
    <title>Emissary - Directory Listing</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
      <link type="text/css" rel="stylesheet" href="/css/emissary.css"/>
  </head>

  <body>
  <header></header>
  <main class="container">
    <h2>Directory Listing</h2>
    <h6>{{directory-label}}</h6>
    <p/>
    <h4>Directory Entries</h4>
    <table class="table table-striped">
       <thead>
          <tr>
              <th>Key</th>
              <th>Cost</th>
              <th>Quality</th>
              <th title="Computed from Cost and quality">Expense</th>
              <th title="Path Weight">PW</th>
              <th title="HH:MM:SS">Age</th>
          </tr>
       </thead>
       <tbody>
       {{#entrykeys}}
         <tr class="sep"><td colspan="6">{{dataId}}</td></tr>
         {{#entrylist}}
         <tr class='{{stripe}}'>
            <td>{{key}}</td>
            <td class="num">{{cost}}</td>
            <td class="num">{{quality}}</td>
            <td class="num">{{expense}}</td>
            <td class="num">{{path-weight}}</td>
            <td class="num">{{age}}</td>
          </tr>
         {{/entrylist}}
       {{/entrykeys}}
       </tbody>
    </table>

    <h4>Peer Directories</h4>
    <ul>
      {{#peers}}
        <li> <a href="{{link}}">{{peerkey}}</a> {{status}}</li>
      {{/peers}}
    </ul>
  </main>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/emissary_nav.js" type="text/javascript" language="javascript"></script>

  </body>
</html>
