<!doctype html>
<html lang="en">
  <head>
    <title>Emissary - Environment</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
      <link type="text/css" rel="stylesheet" href="/css/emissary.css"/>
  </head>

  <body>
  <header></header>
  <main class="containter">
    <h2>Properties</h2>
    <pre>
    {{#systemproperties}}
    {{string}}
    {{/systemproperties}}
    </pre>

    <h2>Environment</h2>
    <pre>
    {{#environmentvariables}}
    {{string}}
    {{/environmentvariables}}
    </pre>
  </main>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/emissary_nav.js" type="text/javascript" language="javascript"></script>
  </body>
</html>
