<!doctype html>
<html lang="en">
  <head>
    <title>Pause</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/emissary.css"/>
  </head>

  <body>
  <header></header>
  <main class="container">
      <div id="czar">
          <p class="triangle-right left" id="czar-message">{{message}}</p>
      </div>
  </main>

  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/lib/popper.min.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/emissary.js" type="text/javascript" language="javascript"></script>

  <script>
    $(document).ready(function () {
        doPost('/api/pause', 'czar-message');
    });
  </script>

  </body>
</html>
