# Action to manually set the next development version
---
name: "Maven: Set Next Development Version"

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      next_version:
        description: "Set the next development version"
        required: true
        default: ""

env:
  JAVA_VERSION: "11"
  JAVA_DISTRIBUTION: "corretto"
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Djava.awt.headless=true"

jobs:
  verify:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Check release ends with snapshot
        if: ${{ !endsWith(github.event.inputs.next_version, '-SNAPSHOT') }}
        run: |
          echo "Invalid input: next development version $IN_NEXT_VERSION does not end with '-SNAPSHOT'"
          exit 1
        env:
          IN_NEXT_VERSION: ${{ github.event.inputs.next_version }}
      - name: Check valid next version
        run: |
          if [[ ! "$IN_NEXT_VERSION" =~ ^[a-zA-Z0-9._-]+$ ]]; then
            echo "Invalid next-version format: must contain only alphanumeric characters, underscores, dashes, and periods."
            exit 1
          fi
        env:
          IN_NEXT_VERSION: ${{ github.event.inputs.next_version }}
  snapshot-bump:
    needs: verify
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: "maven"

      - name: Configure Git user
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Set the name of the branch
        run: echo "PR_BRANCH=action/$IN_NEXT_VERSION" >> "$GITHUB_ENV"
        env:
          IN_NEXT_VERSION: ${{ github.event.inputs.next_version }}

      - name: Create a branch
        run: git switch -c ${{ env.PR_BRANCH }}

      - name: Set the next snapshot version
        run: |
          mvn -B -V -e -ntp versions:set -DnewVersion="$IN_NEXT_VERSION" -DgenerateBackupPoms=false
          mvn -B -V -e -ntp versions:commit
          git add .
          git commit -m "[github-actions](${{ github.actor }}) next development iteration"
          git push -u origin ${{ env.PR_BRANCH }}
        env:
          IN_NEXT_VERSION: ${{ github.event.inputs.next_version }}

      - name: Create pull request
        run: gh pr create -B main -H ${{ env.PR_BRANCH }} --title "next development iteration $IN_NEXT_VERSION" --body 'Created by GitHub Action'
        env:
          IN_NEXT_VERSION: ${{ github.event.inputs.next_version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
