name: Java CI with Maven

on:
  push:
    branches: [ master, release-* ]
  pull_request:
    branches: [ master, release-* ]

jobs:
  build:

    name: Standard build on Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: ['11','17']

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Configure Java & Maven
      uses: actions/setup-java@v3
      with:
        java-version: '${{ matrix.java }}'
        cache: 'maven'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B --no-transfer-progress package --file pom.xml
