# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    
    - name: Configure Java
      uses: actions/setup-java@v2
      with:
        java-version: 11
        cache: 'maven'
        distribution: temurin
    
    - name: Build with Maven
      run: mvn -B --no-transfer-progress package --file pom.xml
